.experience-section{
    background-color: #393131;
    width: 100%;
    padding: 15px 0;
}

.heading{
    background: -webkit-linear-gradient(#8FFCFF, #00B2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:500;
    font-size: 30px;
    padding: 40px 0;
    text-align: center;
}

.title{
    background: -webkit-linear-gradient(#8FFCFF, #00B2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 23px;
    margin: 10px 0;
}

.experience-description{
    font-size: 15px;
    font-weight: 300;
}

.date{
    font-weight: bold;
}

@media only screen and (max-width: 750px){
    .title{
        font-size: 20px;
        font-weight: 300;
    }
    .experience-description{
        font-size: 16px;
        font-weight: 200;
    }
    
}