.skills-section{
    background-color: #414853;
}

.heading{
    background: -webkit-linear-gradient(#8FFCFF, #00B2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:500;
    font-size: 30px;
    padding: 40px 0;
    text-align: center;
}

.skills-logos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.skill-title{
    color: #00B2FF;
    font-size: 20px;
    font-weight: bold;
}


.skill-name{
    color: white;

}

.languages{
    margin-left: 80px;
    margin-top: 80px;
}

.design{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
}
.backend{
    margin-left: 80px;
}
.frontend{
    margin-left: 80px;
    margin-right: 80px;
}
.vc{
    margin-left: 80px;
}

@media only screen and (max-width: 750px){
    .skills-logos-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .languages,.design,.backend,.frontend,.vc{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
    }
    
}